starwar       	  v1
secgame            ?
seed               ?
nb_players    	   4
nb_rnds       	 300
nb_rows       	  15
nb_uni_cols   	  60
nb_win_cols   	  31
nb_ships_x_player  2
nb_rnds_regen 	  50
nb_miss_bonuses   10
nb_point_bonuses  10
bonus_miss         5
bonus_pnts        10
kill_pnts         30
names             ? ? ? ?

rnd 0

   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789
00 ...........................................................X
01 ..................P........X.....X........X.....P........X..
02 ...............X..XPXX..XXXM.....XXXX..XXXX..X..XPXX..MXXM..
03 ................X...........X....P...........M...........X..
04 ...............X..X.......................X..X..X...........
05 ...............X..X.....XXXXXX.XXXXXX.....X..X..X.....XXXXXX
06 ...............X..X.......................X..M..X...........
07 .............................XXX............................
08 ...............X..X.......................X..M..X...........
09 ...............X..X.....XXXXXX.XXXXXX.....X..X..X.....XXXXXX
10 ...............X..X.......................X..X..X...........
11 ................X...........X....P...........M...........X.. 
12 ...............X..XPXX..XXXM.....XXXX..XXXX..X..XPXX..MXXM..
13 ..................P........X.....X........X.....P........X..
14 ...........................................................X
 

starships
sid     row     column  nb_miss alive   time
0	00	00	5	y	0
1	10	02	5	y	0
2	02	01	5	y	0 
3	08	03	5	y	0
4	04	02	5	y	0 
5	14	00	5	y	0
6	06	03	5	y	0
7	12	01	5	y	0

missiles
0
mid      sid	row     column

players
pid	score	status
0	0	0
1	0	0
2	0	0
3	0	0
