starwar       	  v1
secgame            ?
seed               ?
nb_players    	   4
nb_rnds       	 300
nb_rows       	  19
nb_uni_cols   	  67
nb_win_cols   	  40
nb_ships_x_player  2
nb_rnds_regen 	  50
nb_miss_bonuses    8
nb_point_bonuses  22
bonus_miss         5
bonus_pnts        10
kill_pnts         30
names             ? ? ? ?

rnd 0

   0000000000111111111122222222223333333333444444444455555555556666666
   0123456789012345678901234567890123456789012345678901234567890123456
00 ......X...XXX......XXX......XXX......XXX......XXX......XXX...X.....
01 ......X.X.XXX.X..X..P..X..X..P..X..X..M..X..X..M..X..X..M..X.X.....
02 ......X...XXX......XXX......XXX......XXX......XXX......XXX...X.....
03 ......X......................................................X.....
04 ......X.X..X..X..X..X..X..X..X..X..X..X..X..X..X..X..X..X..X.X.....
05 ......X......................................................X.....
06 ......X.X..X..X.XXXXXXXXX.X..X..X..X..X..X.XXXXXXXXX.X..X..X.X.....
07 ......X......................................................X.....
08 ......X...XXX......PPP......XXX......XXX......PPP......XXX...X.....
09 ......X.X.XXX.X....PPP....X.XXX.X..X..M..X....PPP....X..M..X.X.....
10 ......X...XXX......PPP......XXX......XXX......PPP......XXX...X.....
11 ......X......................................................X.....
12 ......X.X..X..X.XXXXXXXXX.X..X..X..X..X..X.XXXXXXXXX.X..X..X.X.....
13 ......X......................................................X.....
14 ......X.X..X..X..X..X..X..X..X..X..X..X..X..X..X..X..X..X..X.X.....
15 ......X......................................................X.....
16 ......X...XXX......XXX......XXX......XXX......XXX......XXX...X.....
17 ......X.X.XXX.X..X..P..X..X..P..X..X..M..X..X..M..X..X..M..X.X.....
18 ......X...XXX......XXX......XXX......XXX......XXX......XXX...X.....


starships
sid     row     column  nb_miss alive   time
0  	01	00	5	y	0
1   	02	00	5	y	0
2   	06	00	5	y	0
3   	07	00	5	y	0 
4   	11	00	5	y	0
5   	12	00	5	y	0 
6   	16	00	5	y	0
7   	17	00	5	y	0

missiles
0
mid      sid	row     column

players
pid	score	status
0	0	0
1	0	0
2	0	0
3	0	0
